@use './../../styles/vars.scss' as *;

.navBar {
  min-width: 240px;
  width: 12vw;
  background: $black-background;
  color: white;
  min-height: 100vh;


  h1,
  h2 {
    color: unset;
  }


  letter-spacing: .05em;
  letter-spacing: .2px;

}
.logowrap {
  display: flex;
  
  padding: 22px 0;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #686E7B;
  margin-bottom: 20px;


}

.logo {
  background: url('./../../assets/images/logo/Tele2-logo.svg');
  background: url('./../../assets/images/logo/NPECloud-logo.png');
  height: 36px;
  width: 160px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  //border: 1px solid white;
}
.burger {
  //border: 1px solid yellow;
  padding-top: 4px;
  svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
}

.activeItem,
.item {
  &>div {
    padding: 7px 0;
    color: #686E7B;

    svg {
      display: inline-block;
      margin: auto 10px;
      height: 20px;
      width: 20px;
      fill: #686E7B;
    }

    span {
      border: 1px solid transparent;
    }

    &>div {
      border-left: 4px solid transparent;
      display: flex;
      align-items: baseline;
    }
  }
}

.activeItem {

  &>div {
    font-weight: 600;
    color: white;

    svg {
      fill: white;
    }

    &>div {
      border-left: 4px solid white;

    }
  }
}