.wrap {
  //max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.appWrapper {
  background: #E9E8EE;
  flex: 1;

  padding: 10px;
  display: flex;
}

.outletWrap {
  width: 100%;
  //border: 1px solid white;
}

