@use './vars.scss' as *;

@font-face {
  font-family: 'DisplaySerif';
  src: local('DisplaySerif'),
  url('./fonts/tele2/Tele2DisplaySerif-Bold-short__W.ttf') format('truetype');
  //font-weight: bold;
}

@font-face {
  font-family: 'TextSans';
  src: local('TextSans'),
  url('./fonts/tele2/tele2_textsans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DisplaySerifRegular';
  src: local('DisplaySerifRegular'),
  url('./fonts/tele2/Tele2DisplaySerif-Regular-short__W.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0; 
  padding: 0;
}



a {
  text-decoration: none;
  color: unset;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'TextSans';
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DisplaySerif';
  color: $black-text;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  display: inline-block;
  transition: 100ms linear;
}
button {
  cursor: pointer;
  background: white;
  border: none;
}
ul {
  list-style: none;
}


